.panel.panel-default
  .panel-heading
    .panel-title Import

  = form_tag import_list_import_path, method: :post do
    .panel-body
      %p Select the actions that you wish to perform on each imported issue.
      %label Action :
      %label
        = radio_button_tag :import_options, :move, true
        Move files

      %label
        = radio_button_tag :import_options, :copy, false
        Copy files

      .checkbox-inline.pull-right
        %label
          = check_box_tag :import_options, :rename
          Rename files

    %table.table
      %tr
        %th
          %input{ type: :checkbox, id: :check_all }
        %th Name
        %th Year
        %th Number
        %th Filename
      = render(partial: 'import_list/pending_issue', collection: @pending_issues)

    .panel-footer
      = submit_tag :Import, class: 'btn btn-lg btn-primary'
