%tr
  %td
    = check_box_tag 'issue_ids[]', pending_issue.issue_id
  %td= pending_issue.issue.name
  %td= pending_issue.issue.year
  %td= pending_issue.issue.number
  %td= pending_issue.issue.filename

